.invitation {
  .content {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    font-size: 0.95rem;
    line-height: 1.2;
    opacity: 0.85;
  }

  .name {
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;
    font-size: 1rem;
    letter-spacing: 0.02em;
    .relation {
      font-size: 0.8rem;
      opacity: 0.65;
      margin: 0 0.3rem;

      .relation-name {
        display: inline-block;
        min-width: 2em;
      }
    }
  }
}

.contact-modal {
  width: 22rem;

  .header {
    .title-group {
      text-align: center;
      .title {
        font-size: 1.1rem;
        color: var(--theme-color);
        padding: 0.5rem;
        font-weight: 600;
      }
      .subtitle {
        font-size: 0.85rem;
        opacity: 0.7;
      }
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--light-grey-color);
    }
  }

  .content {
    padding: 0.7rem;
    padding-bottom: 1rem;

    .contact-info {
      padding: 1rem 0.7rem;
      display: grid;
      grid-template-columns: 8rem 7rem 1fr;
      row-gap: 0.5rem;

      .relation {
        opacity: 0.65;
        font-size: 0.9rem;
      }

      .icon {
        fill: var(--dark-color);
        margin: 0 0.5rem 0 0.5rem;
        opacity: 0.6;
        width: 0.95rem;
        height: 0.95rem;
        &.flip {
          transform: scaleX(-1);
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
  }
}
