.calendar {
  .calendar-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 1rem;
    border: 1px solid var(--light-grey-color);

    > div {
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.95rem;

      &.head {
        aspect-ratio: auto;
        background-color: #f0ead5;
        opacity: 0.7;
        font-size: 0.85rem;
      }

      &.holiday {
        > span {
          color: var(--alt-color);
          opacity: 0.7;
        }
      }

      &.wedding-date {
        position: relative;

        > span {
          z-index: 1;
          font-weight: 600;
        }

        > div.heart {
          width: 45%;
          height: 45%;
          background: var(--alt-bg-color);
          top: 35%;
          left: 27%;
          position: absolute;
          transform: rotate(45deg);
          z-index: 0;
          opacity: 0.6;
          &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: -50%;
            left: 0%;
            border-radius: 50%;
            background: var(--alt-bg-color);
          }
          &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: -50%;
            border-radius: 50%;
            background: var(--alt-bg-color);
          }
        }
      }
    }
  }

  .countdown-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .countdown {
      display: grid;
      width: 15rem;
      grid-template-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
      align-items: center;
      * {
        margin: 0 0.1rem;
      }
      .count {
        opacity: 0.7;
        font-weight: 600;
        font-size: 1.1rem;
      }
      .unit {
        font-weight: 500;
        font-size: 0.6rem;
        opacity: 0.5;
        letter-spacing: 0.05em;
      }
    }

    .message {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      font-size: 0.95rem;
      .d-day {
        color: var(--theme-color);
        font-weight: 600;
      }
    }
  }
}
